<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="emailUser1" value="" />
		<add key="passwordUser1" value="" />
		<add key="usernameUser1" value=""/>
		<add key="emailUser2" value=""/>
		<add key="passwordUser2" value="" />
		<add key="key" value=""/>
		<add key="token" value=""/>
		<add key="boardNameUI" value=""/>
		<add key="boardNameAPI" value=""/>
	</appSettings>
</configuration>